*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.canvas-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1; /* Set a negative z-index to place it behind other elements */
}

canvas {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.name{
    position: fixed;
    z-index: 2;
    color: azure;
    font-size: 5rem;
    right: 20%;
    bottom: 40%;
    transform: translate(-20%, -40%);
}
.link{
    position: fixed;
    z-index: 2;
    color: azure;
    font-size: 5rem;
    right: 20%;
    bottom: 40%;
    transform: translate(-20%, -40%);
}

#follower {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #3498db;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
    
  }
  .hi{
    color: azure;
  }