/* Add a black background color to the top navigation */
.topnav {
    background-color: #d9d9d9;
    overflow: hidden;
    display: flex;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Inria Sans', sans-serif;
    position: relative; /* Add relative positioning for pseudo-element */
}

.topnav-home a {
    background-color: #d9d9d9;
    color: black;
    font-size: 21px;
    padding: 7px 20px;
    margin-right: 40px; /* Adjust the right margin to control space */
}

.topnav-menu {
    background-color: #d9d9d9;
    overflow: hidden;
    margin-right: auto; /* Align to the left */
}

/* Add underline effect */
.topnav-menu a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #5c5c5c; /* Underline color */
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

/* Change the color of links and reveal underline on hover */
.topnav-menu a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

/* Style the right side of the navigation bar */
.topnav-right {
    display: flex;
    align-items: center;
    margin-left: 10px; /* Adjust the left margin to control space */
}

/* Style the login and sign-in links */
.topnav-right a {
    padding: 10px 16px;
    color: azure;
}

.topnav-right a:hover {
    background-color: #ccc;
    color: black;
}
