/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between; /* Align items in the topnav */
}

.topnav-menu{
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #0c0d2b;
    color: white;
}


/* Style the right side of the navigation bar */
.topnav-right {
    display: flex;
    align-items: center;
}

/* Style the login and sign-in links */
.topnav-right a {
    padding: 14px 16px;
}


